/* header大枠 */
.header {
  background: #585eaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}
/* headerリンク装飾 */
.header-nav-item-link {
  display: block;
  color: white;
  margin-left: 20px;
}
/* リストのリンクを横並びにする */
ul {
  display: flex;
  text-align: center;
}
li {
  display: inline-block;
  list-style: none;
}

/* フッターエリア */
footer {
  width: 100%;
  height: 100px;
  background-color: #585eaa;
  color: white;
  text-align: center;
  font-weight: bold;
  /* フッターを画面最下層部に固定 */
  position: fixed;
  bottom: 0px;
}
ul.footer-menu li {
  display: inline;
}

/* スクロールバー */
#wrapper {
  margin-right: calc(100vw - 100%);
  overflow-y: scroll;
}
