* {
  margin: 0;
  padding: 0;
}

/* フッターエリア */
footer {
  width: 100%;
  height: 100px;
  background-color: #585eaa;
  color: white;
  text-align: center;
  font-weight: bold;
  /* フッターを画面最下層部に固定 */
  position: fixed;
  bottom: 0px;
}
ul.footer-menu li {
  display: inline;
}
