/* スクロールバー */
#wrapper {
  margin-right: calc(100vw - 100%);
  overflow-y: scroll;
  /* position: fixed;
  right: 0px; */
}

/* テキスト線ブロック装飾 */
.text-decoration-block {
  width: 300px;
}

#under-line {
  text-decoration: underline; /* 下線 */
}
#line-through {
  text-decoration: line-through; /* 下線 */
}
