* {
  /* デフォルトをリセット */
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0.2em 0.2em 0.2em 0.5em;
  min-height: 100vh;
  /*   */
  display: grid;
  grid-template:
    'header'
    'main' 1fr
    'footer';
}

/* 見出しタグ */
h1 {
  margin-top: 0.2em; /*トップ余白*/
  text-align: center; /*テキストの位置*/
  border: solid 3px #333333; /*線の形状、太さ、色*/
  padding: 0.1em; /*文字周りの余白*/
  border-radius: 0.5em; /*角の丸み*/
}

/* 記事や文章のタグ */
article {
  padding: 0.5em; /*余白*/
  background-color: #ffc; /*背景色*/
  border: solid 1px #333333; /*境界線 太さ 色*/
  border-radius: 0.5em; /*角の丸み*/
}

/* 小見出しタグ */
main h2,
h3 {
  border-bottom: solid 1px black; /*底の線、太さ、色*/
  padding-left: 1em; /*左の余白*/
}

main p {
  margin-top: 1em; /*トップ余白*/
  margin-bottom: 0.5em; /*ボトム余白*/
}

strong.red {
  color: red;
}

strong.blue {
  color: blue;
}

section.p1 {
  margin-top: 1em; /*トップ余白*/
  padding: 0.5em; /*余白*/
  background-color: #e6e6e6; /*背景色*/
  border: solid 1px #333333; /*境界線 太さ 色*/
  border-radius: 0.5em; /*角の丸み*/
}

strong.yellow {
  background: linear-gradient(transparent 0%, #f6ff5f 0%);
}

img {
  /*画像の大きさ指定*/
  margin: 0;
  padding: 0;
  max-width: 80%;
}

/* 写真と説明文の隙間を調整 */
main p.bottom {
  /*ボトムを詰める時*/
  /* 余白を削除する */
  margin-bottom: 0;
  padding-bottom: 0;
}
