/* タイトル装飾 */
h1 {
  position: relative;
  padding-left: 25px;
}

h1:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
h1:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}
.span-color {
  color: rgb(255, 1, 1);
}

/* スクロールバー */
#wrapper {
      height: 200px;
      width: 300px;
      overflow-y: scroll;
    }

/* テキスト線ブロック装飾 */
.under-line {
  text-decoration: underline; /* 下線 */
}
.line-through {
  text-decoration: line-through; /* 下線 */
}

